ul{

    list-style:none;

    padding:0;

    margin-top:20px;

}

li{

    display:flex;

    justify-content:space-between;

    align-items:center;

    background:#f4f4f4;

    margin-bottom:10px;

    padding:10px;

    border-radius:8px;

}

li button{

    background:#e74c3c;

    color:white;

    border:none;

    padding:8px 12px;

    border-radius:6px;

    cursor:pointer;

}

li button:hover{

    background:#c0392b;

}